/*la couleur or: color: #d8a75b;*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
	font-family: 'ubuntu', sans-serif;
}
section{
	box-sizing: border-box;
}
/*  navbar stylesheet design css  #02c4fc */
.nav-width{
	max-width: 1300px;
	padding: 0 90px;
	margin: auto;
}
.navigation{
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 30px 0;
	font-family: sans-serif;
	transition: all 0.3s ease;
}
.navigation.change{
	position: 30px 0;
	background: #04d0fc;
	box-shadow: 0 0 10px 0 #111;
}
.navigation .nav-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navigation .logo {
	color: #fff;
	font-size: 35px;
	font-weight: 600;
	margin-left: 30px;
}
.logo{
	background: url("../logo/logof1.png") no-repeat;
	width: 10.5rem;
	height: 7.5rem;
	margin-top: -80px;
	margin-bottom: -50px;
	margin-left: -100px;
}
.navigation .logo a span{
	color: #04d0fc;
}
.navigation.change .logo a{
	color: #000;
}
.navigation.change .logo{
	background: url("../logo/logo.png") no-repeat;
	width: 6rem;
	height: 4rem;
	margin-top: -25px;
	margin-bottom: -25px;
}
.navigation.change .logo a span{
	color: #000;
}
.navigation .menu li{
	list-style: none;
	display: inline-block;
}
.navigation .menu li a{
  color: #fff;
  font-size: 18PX;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navigation .menu li a:hover{
	/*color: crimson;*/
	/*color: #04d0fc;*/
	color: #d8a75b;
}
.navigation.change .menu li a:hover{
	/*color: #000;*/
	color: #837b01;
}
/*  acceuil stylesheet design css */
.menu-btn{
	color: #fff;
	font-size: 23px;
	cursor: pointer;
	display: none;
}
.scroll-up-btn{
	position: fixed;
	height: 45px;
	width: 42px;
	background: #04d0fc;
	right: 30px;
	bottom: 10px;
	text-align: center;
	line-height: 45px;
	color: #fff;
	z-index: 9999;
	font-size: 30px;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}
.scroll-up-btn.show{
	bottom: 4%;
	opacity: 1;
	pointer-events: auto;
}

/*  acceuil stylesheet design css */
.acceuil{
	background: url('../images/pbg.jpg') no-repeat center;
	background-color: #000;
	width: 100%;
	left: 50%;
	background-size: cover;
	height: 100vh;
	color: #fff;
	min-height: 500px;
	font-family: sans-serif;
	font-size: 25px;
}
.acceuil .acceuil-width{
	margin-top: 15%;
	margin-left: 10%;
	opacity: 1;
}
.acceuil .acceuil-content .text-1{
	font-size: 27px;
}
.acceuil .acceuil-content .text-2{
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
}
.acceuil .acceuil-content .text-3{
	font-size: 40px;
	margin: 5px 0;
}
.acceuil .acceuil-content .text-3 span{
	color: #d8a75b;
	font-weight: 600;
}
.acceuil .acceuil-content .citation{
	margin-top: 2%;
	margin-right: 10%;
}
.acceuil .acceuil-content .citation span{
	color: #04d0fc;
	font-family: 'ubuntu', sans-serif;
}

.acceuil .acceuil-width a{
	display: inline-block;
	background: #04d0fc; 
	color: #fff;
	font-size: 25px;
	padding: 12px 36px;
	margin-top: 30px;
	border-radius: 6px;
	border: 2px solid #04d0fc;
	transition: all 0.3s ease;
}
.acceuil .acceuil-width a:hover{
	background: none; 
	color: #d8a75b;
	border: 2px solid #04d0fc;
}
.acceuil .acceuil-content z{
	opacity: 0;
}

.b1{
	animation: slide1 12s linear infinite;
	position: absolute;
}
.b2{
	animation: slide2 12s linear infinite;
	position: absolute;
}
.b3{
	animation: slide3 12s linear infinite;
	position: absolute;
}
@keyframes slide1{
	0%{
		visibility: visible;
	}
	25%{
		visibility: hidden;
	}
	50%{
		visibility: hidden;
	}
	75%{
		visibility: hidden;
	}
	100%{
		visibility: hidden;
	}
}
@keyframes slide2{
	0%{
		visibility: hidden;
	}
	25%{
		visibility: hidden;
	}
	50%{
		visibility: visible;
	}
	75%{
		visibility: hidden;
	}
	100%{
		visibility: hidden;
	}
}
@keyframes slide3{
	0%{
		visibility: hidden;
	}
	25%{
		visibility: hidden;
	}
	50%{
		visibility: hidden;
	}
	75%{
		visibility: hidden;
	}
	100%{
		visibility: visible;
	}
}
/*mise en forme de tout les section similaire*/
section{
	padding: 5% 0;
}
.apropos, .services, .niveau, .competence, .teams, .contact, footer{
	font-family: 'poppins', sans-serif;
}
.apropos .apropos-content,
.services .services-content,
.niveau .niveau-content,
.contact .contact-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
section .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	font-family: sans-serif;
	margin-bottom: 60px;
	padding-bottom: 20px;
}
section .title::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: #000;
	transform: translateX(-50%);
}
section .title::after{
	position: absolute;
	bottom: -13px;
	left: 50%;
	font-size: 20px;
	padding: 5px;
	color: #d8a75b;
	background: #fff;
	transform: translateX(-50%);
}

/*Apropos stylesheet design css gold:#984d03*/
.apropos{
	flex-direction: column-reverse;
	margin: 12vw;
	margin-top: 1vw;
	font-size: 25px;
}
.apropos .title::after{
	content: "Qui Suis-je";
}
.apropos .apropos-content .left{
	width: 45%;
}
.apropos .apropos-content .column img{
	width: 450px;
	height: 50vh;
	border: 19px white;
	background: #fff;
	box-shadow: 0 10px 25px 0 #04d0fc;
	margin-left: 100px;

}
.apropos .apropos-content .column img:hover{
	box-shadow: -10px 16px 0px 0px #04d0fc;
}
.apropos .apropos-content .column .border-img::after{
	content: "";
	position: absolute;
	width: 408px;
	background-color: transparent;
	/*border: 7px solid #984d03;
	box-shadow: -10px 16px 0px 0px #04d0fc;*/
	z-index: -1;
	margin-left: 100px;
	background-size: cover;
}
.apropos .apropos-content .right{
	width: 55%;
}
.apropos .apropos-content .right .text{
	font-size: 25px;
	font-weight: 600;
	font-family: 'ubuntu', sans-serif;
	margin-bottom: 10px;
}
.apropos  .apropos-content .column{
	padding-left: -40vw;
	padding-right: -30px;
	margin-right: -25px;
}
.apropos .apropos-content .right .text span{
	color: #04d0fc;
}
.apropos .apropos-content .right p{
	text-align: justify;
	font-family: 'ubuntu', sans-serif;
}
.apropos .apropos-content .right a{
	display: inline-block;
	background: #04d0fc; 
	color: #fff;
	font-size: 20px;
	padding: 10px 30px;
	font-weight: 500;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid #04d0fc;
	transition: all 0.3s ease;
}
.apropos .apropos-content .right a:hover{
	color: #d8a75b;
	background: none; 
}

/*services stylesheet design css last gold color=#837b01*/
.services, .teams{
	background: #000d0f;
	color: #fff;
}
.services .title::before{
	background: #fff;
	width: 15%;
}
.services .title::after{
	content: "Servises Proposer";
	background: #000d0f;
}
.services .services-content .card{
	font-size: 25px;
	width: calc(25% - 20px);
	height: 31vh;
	background: #102529;
	text-align: center;
	border-radius: 6px;
	padding: 1% 2%;
	cursor: pointer;
	border-color: #fff;
	transition: all 0.9s ease;
}
.services .services-content .card .box{
	transition: all 0.2s ease;
}
.services .services-content .card:hover{
	background: #04d0fc;/*837b01*/
	opacity: 100%;
	box-shadow: 0px 0px 18px 0 #fff;
	transition: all 0.9s ease;
}
.services .services-content .card:hover .box{
	transform: scale(1.2);
}
.services .services-content .card .text{
	font-size: 30px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}
.services .services-content .card i{
	font-size: 30px;
	color: #04d0fc;
	margin-bottom: 15px;
}
.services .services-content .card:hover i{
	color: #fff;
	transition: all 0.2s ease;
}
.services .services-width{
	margin: 0 10vw;
}

/*niveau stylesheet design   f3ead9 css*/
.niveau .title::after{
	content: "Mon Niveau";
}
.niveau .niveau-content .column{
	width: calc(48% - 45px);
}
.niveau .niveau-content .left{
	margin-top: 4%;
	margin-left: 90px;
	padding: 0 40px;
}
.niveau .niveau-content .left .text{
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 10px;
}
.niveau .niveau-content .left p{
	text-align: justify;
	font-size: 25px;
}
.niveau .niveau-content .left a{
	display: inline-block;
	background: #04d0fc; 
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 8px 20px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid #04d0fc;
	transition: all 0.3s ease;
}
.niveau .niveau-content .left a:hover{
	color: #d8a75b;
	background: none;
}
.niveau .niveau-content .right{
	margin-left: -90px;
	padding: 20px 200px 0px 10px;
	font-size: 30px;
}
.niveau .niveau-content .right .bars{
	margin-bottom: 25px;
}
.niveau .niveau-content .right .info{
	display: flex;
	margin-bottom: 2px;
	align-items: center;
	justify-content: space-between;
}
.niveau .niveau-content .right span{
	font-weight: 500;
	font-size: 18px;
}
.niveau .niveau-content .right .line{
	height: 5px;
	width: 100%;
	background: lightgrey;
	position: relative;
}
.niveau .niveau-content .right .line::before{
	content: "";
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	background: crimson;
}

.niveau-content .right .php::before{
	width: 60%;
}
.niveau-content .right .html::before{
	width: 90%;
}
.niveau-content .right .css::before{
	width: 65%;
}
.niveau-content .right .js::before{
	width: 50%;
}
.niveau-content .right .btrap::before{
	width: 85%;
}
.niveau-content .right .ps::before{
	width: 40%;
}
.niveau-content .right .msql::before{
	width: 60%;
}

/*style code for mes prijet pro & academique*/
.projets .title{
}
.projets .title::before{
	margin-top: -20%;
	background: #222;
	width: 30vh;
}
.projets .title::after{
	content: "Scolaire & Pro";
	background: #eee;
}

.projets{
	width: 99%;
	height: auto;
  padding-bottom: 15vh;
	background: #eee;
}
.projets-content{
	font-family: "ubuntu", sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 4%;
}
.grid{
	width: 1200px;
	height: 67vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 10px;
	padding: 10px;
	box-sizing: border-box;
}
.grid .grid-item{
	background-color: #fff;
	border-radius: 0.4rem;
	overflow: hidden;
	box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s eas;
}
.grid .grid-item:nth-child(1){
	background: linear-gradient(45deg, #036eb7,#64eaff);
}
.grid-item:hover{
	transform: translateY(-0.5%);
	box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
.img{

	padding: 20px 40px 10px;
}
.card-img{
	display: block;
	width: 100%;
	height: 12rem;
	object-fit: cover;
	border: 2PX solid #04d0fc;
	border-radius: 20px;
}
.card-content{
	padding: 3rem;
}
.card-header{
	font-size: 2.5rem;
	font-weight: 400;
	color: #0d0d0d;
	margin-bottom: 1.5rem;
	z-index: 1;
	opacity: 0.4;
}
.card-text{
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	line-height: 1.7;
	color: #fff;
	margin-bottom: 3rem;
}
.card-btn{
	display: block;
	height: 3.1rem;
	width: 98%;
	padding: 1.2rem;
	font-size: 15px;
	text-align: center;
	color: #fff;
	border: none;
	border-radius: 0.4rem;
	transition: 0.2s;
	cursor: pointer;
	letter-spacing: 0.1rem;
	margin-top: 4vh;
}
.card-btn span{
	margin-left: 1rem;
	transition: 0.2s;
}
.card-btn:hover,
.card-btn:active{
	background-color: #c2cffc;
}
.card-btn:hover span,
.card-btn:active span{
	margin-left: 1.5rem;
}

/*teams stylesheet design */
.teams .title{
	color: #0f282f;
}
.teams .title::before{
	width: 18vh;
	background: #0f282f;
}
.teams .title::after{
	content: "Ma Teams";
	background: linear-gradient(45deg, #fff,#eff);
} 
.teams{
	width: 100%;
	height: 100%;
   margin-top:-100px;
	background: url(../images/background2.jpg) no-repeat center;
}
.teams .contenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.teams .contenu .box{
    width: 250px;
    margin: 15px;
}
.teams .contenu .box img{
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
}
.teams .contenu .box h3{
    color: #000;
    font-weight: 600;
    text-align: center;
}
.teams .contenu .box h4{
    color: #111;
    font-weight: 400;
    text-align: center;
}
/*Contact stylesheet design css*/
.contact .title::after{
	content: "M'ecrire";
}
.contact .contact-content{
	margin-left: 6%;
	margin-right: 5%;
}
.contact .contact-content .colomn{
	width: calc(50% - 30px);
}
.contact .contact-content .text{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
.contact .contact-content .left p{
	text-align: justify;
}
.contact .contact-content .left .icons{
	margin: 10px 0;
}
.contact .contact-content .row{
	display: flex;
	height: 65px;
	align-items: center;
}
.contact .contact-content .row .info{
	margin-left: 30px;
}
.contact .contact-content .row i{
	font-size: 25px;
	color: #04d0fc;
}
.contact .contact-content .info .head{
	font-weight: 500;
}
.contact .contact-content .info .sub-title{
	color: green;
}
.contact .right form .fields{
	display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
}
.contact .right form .name{
	margin-right: 10px;
}
.contact .right form .email{
	margin-left: 10px;
}
.contact .right form .textarea{
	height: 80px;
	width: 100%;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	font-family: 'poppins', sans-serif;
}
.contact .right form .textarea textarea{
	padding-top: 10px;
	resize: none;
}
.contact .right form .button{
	height: 47px;
	width: 185px;
}
.contact .right form .button button{
	width: 100%;
	height: 100%;
	border: 2px solid #04d0fc;
	background: #04d0fc;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.contact .right form .button button:hover{
	color: #d8a75b;
	background: none;
}

/*footer stylesheet design */
footer{
	display: flex;
	background: #222;
	padding: 20px 23px;
	color: #fff;
}
footer span a{
	color: #04d0fc;
	text-decoration: none; 
}
footer span a:hover{
	text-decoration: underline;
}
footer .langue{
	display: flex;
	position: relative;
	cursor: pointer;
}
footer .langue a{
	border: blue;
	border-radius: 5px;
	margin-left: 1.3em;
}
footer .langue .fr{
	color: rgb(1, 89, 252);

}
footer .langue .en{
	color: crimson;
}

/*mobile devise stylesheet design (media query) */
@media (max-width: 1600px){
	.apropos{
		font-size: 20px;
		margin-left:15vw;
	}
	.apropos .apropos-content .right{
		width: 50%;
	}
	.apropos .apropos-content .left{
	width: 35%;
	height: auto;
	cursor: pointer;
	margin-right: 5%;
	}
	.apropos .apropos-width .apropos-content .column img{
		width: 330px;
		height: 435px;
		border: 8px;
		box-shadow: 0 10px 25px 0 #04d0fc;
		background: #fff;
	}
	.niveau .niveau-content .right{
		margin-left: -50px;
		padding: 20px 100px 0px 10px;
		font-size: 30px;
	}
	.services .services-content .card{
		font-size: 18px;
		height: 25vh;
	}
	.services .services-content .card .text{
		font-size: 20px;
		color: bisque;
	}
	.services .title::before{
		width: 15vw;
	}
	.projets{
		width: 100%;
	}
	.card-img{
		height: 9rem;
		object-fit: cover;
		border: 3PX solid #04d0fc;
		border-radius: 6px;
	}
	.card-header{
		margin-top: -18%;
		padding-bottom: 1rem;
		font-size: 2rem;
	}
	.card-text{
		margin-top: -15%;
	}
	.card-btn{
		font-size: 15px;
		margin-top: -0.1vh;
		margin-bottom: vh;
	}
}
@media screen and (max-width: 1200px){
	body{
		width: 115vw;
	}
	footer{
		width: 115vw;
	}
	.acceuil{
		/*background: linear-gradient(45deg,#000, #04d0fc);*/
	background: url('../images/pbg2.jpg') no-repeat center;
		font-size: 25px;
	}
	.apropos .apropos-content .column{
		margin: 0 0 0% -25%;
	}
	.apropos .apropos-content .column img{
		height: 300px;
		width: 540px;
	}
	.apropos  .apropos-content .column{
		padding-right: 0px;
		margin-right: 0px;
	}
	.apropos .apropos-content .left{
		height: auto;
		padding-right: 30%;
	}
	.apropos  .apropos-content .right{
		width: 70%;
		padding-left: 10%;
	}
	.services .services-content .card{
		font-size: 18px;
		height: 17vh;
	}
	.services .services-content .card .text{
		font-size: 20px;
		color: bisque;
	}
	.services .title::before,
	.projets .title::before{
		width: 20vw;
	}
	.niveau .niveau-content .left p{
		font-size: 18px;
	}
	.niveau .niveau-content .right{
		margin-left: -50px;
		padding: 5px 50px 0px 5px;
		font-size: 30px;
	}
	.grid{
		display: inline-flex;
		width: 50%;
		height: 34vh;
		margin: 10px;
		box-sizing: border-box;
		font-size: 50px;
	}
	.card-img{
		height: 7rem;
		object-fit: cover;
		border: 3PX solid #04d0fc;
		border-radius: 6px;
	}
	.card-text{
		margin-top: -1vh;
		font-size: 16px;
	}
	.card-header{
		margin-top: -3vh;
		font-size: 1.5rem;
	}
	.card-btn{
		height: 2rem;
		text-align: center;
	}
}
@media (max-width: 800px){
	body{
		width: 120vw;
	}
	footer{
		width: 120vw;
	}
	.acceuil{
		/*background: linear-gradient(45deg,#000, #888);*/
	background: url('../images/pbg2.jpg') no-repeat center;
		font-size: 15px;
	}
	.navigation .nav-width{
		padding: 0 0px;
	}
	.menu-btn{
		display: block;
		z-index: 999;
	}
	.menu-btn i.active:before{
		content: "\f00d";
	}
	.navigation .menu{
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: #02313b;
		text-transform: uppercase;
		letter-spacing: 3px;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}
	.navigation .menu.active{
		left: 0%;
	}
	.navigation .menu li{
		display: block;
	}
	.navigation .menu li a{
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}
	.navigation .nav-width{
		max-width: 800px;
	}
	.acceuil .acceuil-content .citation{
		text-align: auto 0 auto -90px;
	}
	.acceuil .acceuil-content .text-2{
		font-size: 70px;
	}
	.acceuil .acceuil-content .text-3{
		font-size: 35px;
	}
	.acceuil .acceuil-content a{
		font-size: 23px;
		padding: 10px 30px;
	}
	.acceuil .acceuil-content .text-2{
		font-size: 70px;
	}
	.acceuil .acceuil-content .text-3{
		font-size: 35px;
	}
	.acceuil .acceuil-content a{
		font-size: 20px;
	}
	.apropos .apropos-content{
		display: row;
		flex-direction: column;
	}
	.apropos .apropos-content .left{
		margin-right: 6%;
		justify-content: center;
	}
	.apropos .apropos-content .border-img{
		margin-left: -4rem;
	}
	.apropos .apropos-width .apropos-content .right{
		font-size: 25px;
		width: 99%;
		color: #000;
		align-items: center;
	}
	.apropos .apropos-width .apropos-content .right .text{
		margin-top: 6vh;
		margin-left: 11vw;
		text-align: center;
	}
	.apropos .apropos-width .apropos-content .right a,
	.apropos .apropos-width .apropos-content .right p{
		margin-left: 9vw;
		text-align: center;
		
	}
	.apropos .apropos-width .apropos-content .column .text,
	.apropos .apropos-width .apropos-content .column .text span{
		font-size: 25px;
		font-weight:750;
	}
	.apropos .apropos-width .apropos-content .column p{
		font-size: 25px;
		color: #000;
		align-items: center;
	}
	.services .title::before,
	.projets .title::before{
		width: 30vw;
	}
	.services .services-content .card{
		width: calc(50% - 10px);
		margin-bottom: 20px;
		width: 100%;
	}
	.services .services-content .card:hover{
		background: crimson;
	}
	.niveau .niveau-content .column,
	.contact .contact-content .colomn{
		text-align: left;
		font-size: 25px; 
		font-weight: 500;
		margin-bottom: 35px;
		width: 100%;
	}
	.niveau .niveau-content .right{
		margin-left: 9rem;
		width: 90%;
	}
	.projets .projets-content{
		display: row;
		flex-direction: column;
	}
	.projets .projets-content .grid{
		width: 80%;
		margin-left: 50px;
		box-sizing: border-box;
		font-size: 14px;
		display: flex;
		border-bottom: 2px solid #04d0fc;
	}
	.projets .projets-content .grid-item .card .li{
		max-width: 40%;
		flex-basis: 40%;
		display: inline-block;
	}
	.card-img{
		width: 25vw;
		height: 25vh;
		object-fit: cover;
		border: 3PX solid #04d0fc;
		border-radius: 0.6rem;
		margin-top: 1rem;
		flex-basis: 40%;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.card-text{
		width: 45vw;
		margin-bottom: 2.1rem;
		font-size: 16px;
	}
	.card-header{
		margin-top: -5rem;
		font-size: 2rem;
	}
	.card-btn{
		width: 10rem;
		height: 3rem;
		margin-bottom: -5rem;
		text-align: center;
	}
	.contact .contact-content .text{
		font-size: 25px;
		font-weight: 700;
	}
	.contact .contact-content .left p{
		font-size: 22px;
	}
	.contact .contact-content .info .head{
		font-weight: 600;
	}
	.contact .contact-content .info .sub-title{
		font-size: 20px;
	}
}
@media (max-width: 598px){
	body{
		width: 150vw;
	}
	footer{
		width: 150vw;
	}
	.acceuil{
		/*background: linear-gradient(45deg,#666, #000);*/
	background: url('../images/pbg.jpg') no-repeat center;
		width: 150vw;
		font-size: 15px;
	}
	.acceuil .acceuil-width .text-2{
		font-size: 35px;
	}
	.acceuil .acceuil-width .text-3{
		font-size: 25px;
	}
	.acceuil .acceuil-width .citation{
		margin-top: -2rem;
	}
	.apropos .apropos-content .border-img{
		margin-left: -8rem;
	}
	.services .services-content .card{
		height: 11rem;
	}
	.niveau .niveau-content .left{
		margin-left: -1rem;
	}
	.niveau .niveau-content .right{
		margin-left: 20px;
	}
	.projets .projets-content .grid{
		width: 90%;
		height: 20rem;
	}
	.projets .projets-content .grid-item .card .li{
		max-width: 30%;
	}
	.projets .projets-content .card-content{
		margin-top: -3rem;
		width: 98vw;
	}
	.card-img{
		width: 55vw;
		height: 30vh;
		border-radius: 15px;
		margin-left: -30px;
		margin-top: 1rem;
	}
	.card-text{
		margin-left: 60px;
		margin-top: -1rem;
		width: 60vw;
		margin-bottom: 2rem;
		font-size: 20px;
	}
	.card-header{
		margin-left: 60px;
		width: 60vw;
		margin-top: -2rem;
		font-size: 25px;
	}
	.card-btn{
		margin-left: 60px;
		margin-top: -1rem;
		width: 10rem;
		height: 3rem;
		text-align: center;
	}
	.services .title::before,
	.projets .title::before{
		width: 80vw;
	}
	.teams .title::before{
		width: 50vw;
	}
}
@media (max-width: 390px){
	.projets .projets-content .grid{
		width: 94%;
		height: 22rem;
	}
	.card-img{
		width: 53vw;
		height: 40vh;
		margin-top: 5vh;
	}
	.card-text{
		margin-left: 50px;
	}
	.card-header{
		margin-left: 50px;
		margin-top: 1rem;	
	}
	.card-btn{
		margin-left: 50px;
	}
}
@media (max-width: 375px){
	.projets .projets-content .grid{
		width: 90%;
		height: 20rem;
	}
	.projets .projets-content .grid-item .card .li{
		max-width: 30%;
	}
	.projets .projets-content .card-content{
		margin-top: -3rem;
		width: 98vw;
	}
	.card-img{
		width: 55vw;
		height: 30vh;
		border-radius: 15px;
		margin-left: -30px;
		margin-top: 1rem;
	}
	.card-text{
		margin-left: 60px;
		margin-top: -1rem;
		width: 60vw;
		margin-bottom: 2rem;
		font-size: 20px;
	}
	.card-header{
		margin-left: 60px;
		width: 60vw;
		margin-top: -2rem;
		font-size: 25px;
	}
	.card-btn{
		margin-left: 60px;
		margin-top: -1rem;
		width: 10rem;
		height: 3rem;
		text-align: center;
	}
}
@media (max-width: 374px){
	.projets .projets-content .grid{
		width: 94%;
		height: 22rem;
	}
	.card-img{
		width: 53vw;
		height: 40vh;
		margin-top: 5vh;
	}
	.card-text{
		margin-left: 50px;
	}
	.card-header{
		margin-left: 50px;
		margin-top: 1rem;	}
	.card-btn{
		margin-left: 50px;
	}
}
@media (max-width: 325px){
	.projets .projets-content .grid{
		width: 98%;
		height: 25rem;
		margin-left: -0.2rem;
	}
}
